body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
#red {
    background-color: red;
    color: white;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
    color: white;
}

#blue {
    background-color: blue;
    color: white;
}

#orange {
    background-color: orange;
}
